root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true

[*.{py,qml}]
indent_style = space

[*.yml]
indent_style = space
indent_size = 2

[*.{diff,md}]
trim_trailing_whitespace = false

[*.rst]
indent_style = space
indent_size = 3

