# SPDX-FileCopyrightText: 2020-2023 Jochem Rutgers
#
# SPDX-License-Identifier: CC0-1.0

*.st linguist-language=Text
presentation/*.html linguist-detectable=false
presentation linguist-documentation
tests/test_fpga/stack_in.txt text eol=crlf
*.cmd text eol=crlf
