// clang-format off
{#
vim:filetype=cpp

/*
 * libstored, distributed debuggable data stores.
 * Copyright (C) 2020-2023  Jochem Rutgers
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */
-#}

#ifndef LOGGING{{store.name|upper}}_H
#define LOGGING{{store.name|upper}}_H

#ifdef __cplusplus

#	include "{{store.name}}.h"

#	include <cstdio>
#	include <stored>

#	if STORED_cplusplus >= 201103L
#		include <utility>
#	endif

template <typename Base>
class Logging{{store.name}} : public Base {
	STORE_WRAPPER_CLASS(Logging{{store.name}}, Base)
protected:
#	if STORED_cplusplus >= 201103L
	template <typename... Args>
	explicit Logging{{store.name}}(Args&&... args)
		: base(std::forward<Args>(args)...)
#	else
	Logging{{store.name}}()
		: base()
#	endif
	{}

protected:
{% for o in store.variables %}
	void __{{o.cname}}__changed() noexcept
	{
{%  if o.type == 'blob' %}
		puts("'" {{o.name|cstr}} "' changed");
{%  elif o.type == 'string' %}
		fputs("'" {{o.name|cstr}} "'", stdout);
		printf(" changed to \"%s\"\n", (char const*)base::{{o.cname}}.buffer());
{%  else %}
		fputs("'" {{o.name|cstr}} "'", stdout);
		printf(" changed to %g\n", (double)base::{{o.cname}}.get());
{%  endif %}
		base::__{{o.cname}}__changed();
	}

{% endfor %}
};
#endif // __cplusplus
#endif // LOGGING{{store.name|upper}}_H
// clang-format on
