{#
# vim:filetype=tcl
-#}
# SPDX-FileCopyrightText: 2020-2023 Jochem Rutgers
#
# SPDX-License-Identifier: MPL-2.0

# In Vivado, create a new project and source this script.  All relevant
# libstored files will be added to your project.  Afterwards, this script is
# not required anymore; just use your project file.

set script_path [ file dirname [ file normalize [ info script ] ] ]
set store_dir [ file normalize "$script_path/.." ]
set libstored_dir [ file normalize "{{libstored_dir|escapebs}}" ]
set libstored_fpga_dir [ file normalize "$libstored_dir/fpga" ]

# You may configure_file() this script to override libstored_fpga_dir.
if {[string equal "@RELOCATE_LIBSTORED@" "1"]} {
	set libstored_fpga_dir [ file normalize "@RELOCATED_LIBSTORED@" ]
}

# Create 'sources_1' fileset (if not found)
if {[string equal [get_filesets -quiet sources_1] ""]} {
	create_fileset -srcset sources_1
}

# Set 'sources_1' fileset object
set obj [get_filesets sources_1]
set files [list \
	"[file normalize "$libstored_fpga_dir/rtl/pkg.vhd"]"\
	"[file normalize "$libstored_fpga_dir/rtl/util.vhd"]"\
	"[file normalize "$libstored_fpga_dir/rtl/variable.vhd"]"\
	"[file normalize "$libstored_fpga_dir/rtl/protocol.vhd"]"\
{% for m in models %}
	"[file normalize "$store_dir/rtl/{{m}}.vhd"]"\
	"[file normalize "$store_dir/rtl/{{m}}_pkg.vhd"]"\
{% endfor %}
]
add_files -norecurse -fileset $obj $files

# Set 'sources_1' fileset file properties for local files
set file "rtl/pkg.vhd"
set file_obj [get_files -of_objects [get_filesets sources_1] [list "*$file"]]
set_property "file_type" "VHDL" $file_obj

set file "rtl/util.vhd"
set file_obj [get_files -of_objects [get_filesets sources_1] [list "*$file"]]
set_property "file_type" "VHDL" $file_obj

set file "rtl/variable.vhd"
set file_obj [get_files -of_objects [get_filesets sources_1] [list "*$file"]]
set_property "file_type" "VHDL" $file_obj

set file "rtl/protocol.vhd"
set file_obj [get_files -of_objects [get_filesets sources_1] [list "*$file"]]
set_property "file_type" "VHDL" $file_obj

{% for m in models %}
set file "rtl/{{m}}.vhd"
set file_obj [get_files -of_objects [get_filesets sources_1] [list "*$file"]]
set_property "file_type" "VHDL" $file_obj

set file "rtl/{{m}}_pkg.vhd"
set file_obj [get_files -of_objects [get_filesets sources_1] [list "*$file"]]
set_property "file_type" "VHDL" $file_obj

{% endfor %}
# Create 'sim_1' fileset (if not found)
if {[string equal [get_filesets -quiet sim_1] ""]} {
	create_fileset -simset sim_1
}

# Set 'sim_1' fileset object
set obj [get_filesets sim_1]
set files [list \
	"[file normalize "$libstored_fpga_dir/tb/tb_pkg.vhd"]"\
]
add_files -norecurse -fileset $obj $files

# Set 'sim_1' fileset file properties for local files
set file "tb/tb_pkg.vhd"
set file_obj [get_files -of_objects [get_filesets sim_1] [list "*$file"]]
set_property "file_type" "VHDL" $file_obj

