{#
vim:filetype=rtf

SPDX-FileCopyrightText: 2020-2023 Jochem Rutgers

SPDX-License-Identifier: MPL-2.0

#}
{\rtf1\rtf\ansi\deff0
{\fonttbl{\f0\froman Times New Roman;}}
{\info{\title {{store.name|rtfstring}}}{\comment {{store.hash}}}}\paperw11906\paperh16838\viewkind1\sectd\pard\keepn\b
{{store.name|rtfstring}}\line\plain
hash: {{store.hash}}\line
{% if store.littleEndian -%}
little endian
{%- else -%}
big endian
{%- endif -%}
\par\pard\sb240\keepn\b
Store objects\par\pard\plain
\trowd\trgaph120\trhdr\trkeep
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx4000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx5500
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx6700
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx7900
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx8700
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx9500\i
Name\cell
Type\cell
Init\cell
\qr Offset / function\cell
AXI\cell
Size\cell\row\pard\plain
{%- for o in store.objects|sort(attribute='name') -%}
\trowd\trgaph120\trkeep
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx4000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx5500
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx6700
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx7900
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx8700
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx9500
{{o.name|rtfstring}}\cell
{%    if o is function %}
({{o.type}}{% if o is blob %}:{{o.size}}{% endif %})\cell
\cell
\qr {{o.f}}\cell
\cell
\cell
{%    else %}
{{o.type}}{% if o is blob %}:{{o.size}}{% endif %}\cell
{% if o.init == None %}0{% else %}{{o.init}}{% endif %}\cell
\qr {{o.offset}}\cell
{% if o.axi != None %}{{'0x%x'|format(o.axi)}}{% endif %}\cell
{{o.size}}\cell
{%-   endif -%}
\row\pard
{%- endfor -%}
\pard\keepn\sb240\plain\b
Store buffer\par\pard\plain
{%- set ns = namespace(nextOffset=0) -%}
\trowd\trgaph120\trhdr\trkeep
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx1000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx2000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx6000\i\qr
Offset\cell
Size\cell\pard
Name\cell\row\pard\plain
{%- for o in store.objects|sort(attribute='offset') -%}
{%- if o is variable -%}
{%- if ns.nextOffset < o.offset -%}
\trowd\trgaph120\trkeep
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx1000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx2000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx6000\qr
{{'0x%x'|format(ns.nextOffset)}}\cell
{{ o.offset - ns.nextOffset }}\cell\pard\i
(padding)\cell\row\plain
{%- endif -%}
{%- set ns.nextOffset = o.offset + o.size -%}
\trowd\trgaph120\trkeep
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx1000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx2000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx6000\qr
{{'0x%x'|format(o.offset)}}\cell
{{o.size}}\cell\pard
{{o.name|rtfstring}}\cell\row
{%- endif -%}
{%- endfor -%}
\pard\keepn\sb240\plain\b
AXI interface\par\pard\plain\trowd\trgaph120\trhdr\trkeep
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx1000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx2000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx3000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx7000\i\qr
Offset\cell
Size\cell\pard
Type\cell
Name\cell\row\pard\plain
{%- for o in store.objects|rejectattr('axi','none')|sort(attribute='axi') -%}
\trowd\trgaph120\trkeep
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx1000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx2000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx3000
\clbrdrt\brdrs\clbrdrl\brdrs\clbrdrb\brdrs\clbrdrr\brdrs\cellx7000\qr
{{'0x%x'|format(o.axi)}}\cell
{{o.size}}\cell\pard
{{o.type}}\cell
{{o.name|rtfstring}}\cell\row
{%- endfor -%}
\par
}
