{#
-- vim:filetype=vhdl
-#}
-- SPDX-FileCopyrightText: 2020-2024 Jochem Rutgers
--
-- SPDX-License-Identifier: MPL-2.0

library ieee;
use ieee.std_logic_1164.all;
use ieee.numeric_std.all;

use work.libstored_pkg;

--! \brief Constants and types for #{{store.name}}_hdl.
package {{store.name}}_pkg is

	constant HASH : libstored_pkg.hash_t := {{store.hash|vhdlstr}}; -- {{store.hash}}
	constant BUFFER_LENGTH : natural := {{store.buffer.size}};
{% if store.littleEndian %}
	constant LITTLE_ENDIAN : boolean := true;
{% else %}
	constant LITTLE_ENDIAN : boolean := false;
{% endif %}
	constant KEY_LENGTH : natural := {{(store.objects|first|vhdlkey(store=store, littleEndian=False)|len - 3) * 4}};

--pragma translate_off
	-- For testing purposes.
	constant WIN32 : boolean := {{'true' if win32 else 'false'}};
	constant UNIX : boolean := not WIN32;
--pragma translate_on

{% for o in store.objects|select('variable') %}
	-- {{o}}
{%   if o|vhdltype == 'std_logic' %}
	constant \{{o|vhdlname}}/LENGTH\ : natural := 1;
	constant \{{o|vhdlname}}/INIT\ : std_logic_vector(7 downto 0) := {{o|vhdlinit}};
{%   else %}
	constant \{{o|vhdlname}}/LENGTH\ : natural := {{o.size * 8}};
	constant \{{o|vhdlname}}/INIT\ : std_logic_vector(\{{o|vhdlname}}/LENGTH\ - 1 downto 0) := {{o|vhdlinit}};
{%   endif %}
	subtype \{{o|vhdlname}}/type\ is {{o|vhdltype}};
{%   if o.axi != None %}
	constant \{{o|vhdlname}}/ADDR\ : natural := 16#{{'%x'|format(o.axi)}}#;
{%   endif %}
	constant \{{o|vhdlname}}/KEY\ : std_logic_vector(KEY_LENGTH - 1 downto 0) := {{o|vhdlkey(store=store, littleEndian=False)}};

	type \{{o|vhdlname}}/out_t\ is record
		value : \{{o|vhdlname}}/type\;
		updated : std_logic;
	end record;

	type \{{o|vhdlname}}/in_t\ is record
		value : \{{o|vhdlname}}/type\;
		we : std_logic;
	end record;

	constant \{{o|vhdlname}}/in_default\ : \{{o|vhdlname}}/in_t\ := (
{%   if o|vhdltype == 'std_logic' %}
		value => '-',
{%   else %}
		value => (others => '-'),
{%   endif %}
		we => '0');

{% endfor %}



	type var_out_t is record
{% for o in store.objects|select('variable') %}
		\{{o|vhdlname}}\ : \{{o|vhdlname}}/out_t\;
{% endfor %}
	end record;

	type var_in_t is record
{% for o in store.objects|select('variable') %}
		\{{o|vhdlname}}\ : \{{o|vhdlname}}/in_t\;
{% endfor %}
	end record;

	constant var_in_default : var_in_t := (
{% for o in store.objects|select('variable') %}
		\{{o|vhdlname}}\ => \{{o|vhdlname}}/in_default\{% if not loop.last %},{% endif %}

{% endfor %}
	);

	function merge(constant a, b : var_in_t) return var_in_t;

	type var_access_t is record
{% for o in store.objects|select('variable') %}
		\{{o|vhdlname}}\ : libstored_pkg.access_t;
{% endfor %}
	end record;

	constant VAR_ACCESS_RW : var_access_t := (
{% for o in store.objects|select('variable') %}
		\{{o|vhdlname}}\ => libstored_pkg.ACCESS_RW{% if not loop.last %},{% endif %}

{% endfor %}
	);

	constant VAR_ACCESS_RO : var_access_t := (
{% for o in store.objects|select('variable') %}
		\{{o|vhdlname}}\ => libstored_pkg.ACCESS_RO{% if not loop.last %},{% endif %}

{% endfor %}
	);

	constant VAR_ACCESS_WO : var_access_t := (
{% for o in store.objects|select('variable') %}
		\{{o|vhdlname}}\ => libstored_pkg.ACCESS_WO{% if not loop.last %},{% endif %}

{% endfor %}
	);

	constant VAR_ACCESS_NA : var_access_t := (
{% for o in store.objects|select('variable') %}
		\{{o|vhdlname}}\ => libstored_pkg.ACCESS_NA{% if not loop.last %},{% endif %}

{% endfor %}
	);
end {{store.name}}_pkg;

package body {{store.name}}_pkg is
	function merge(constant a, b : var_in_t) return var_in_t is
		variable v : var_in_t;
	begin
		v := b;
{% for o in store.objects|select('variable') %}
		if a.\{{o|vhdlname}}\.we = '1' then v.\{{o|vhdlname}}\ := a.\{{o|vhdlname}}\; end if;
{% endfor %}

--pragma translate_off
{% for o in store.objects|select('variable') %}
		if is_x(a.\{{o|vhdlname}}\.we) then v.\{{o|vhdlname}}\.we := 'X'; end if;
{% endfor %}
--pragma translate_on

		return v;
	end function;
end package body;
