{#
-- vim:filetype=vhdl

-- libstored, a Store for Embedded Debugger.
-- Copyright (C) 2020  Jochem Rutgers
--
-- This program is free software: you can redistribute it and/or modify
-- it under the terms of the GNU Lesser General Public License as published by
-- the Free Software Foundation, either version 3 of the License, or
-- (at your option) any later version.
--
-- This program is distributed in the hope that it will be useful,
-- but WITHOUT ANY WARRANTY; without even the implied warranty of
-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-- GNU Lesser General Public License for more details.
--
-- You should have received a copy of the GNU Lesser General Public License
-- along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}
library ieee;
use ieee.std_logic_1164.all;
use ieee.numeric_std.all;

use work.libstored_pkg.all;

--! \brief Constants and types for #{{store.name}}_hdl.
package {{store.name}}_pkg is

	constant HASH : hash_t := {{store.hash|vhdlstr}}; -- {{store.hash}}
	constant BUFFER_LENGTH : natural := {{store.buffer.size}};
{% if store.littleEndian %}
	constant LITTLE_ENDIAN : boolean := true;
{% else %}
	constant LITTLE_ENDIAN : boolean := false;
{% endif %}
	constant KEY_LENGTH : natural := {{(store.objects|first|vhdlkey(store=store, littleEndian=store.littleEndian)|len - 3) * 4}};

{% for o in store.objects %}
{%   if o is variable %}
	-- {{o}}
{%     if o|vhdltype == 'std_logic' %}
	constant \{{o.cname|upper}}__LENGTH\ : natural := 1;
	constant \{{o.cname|upper}}__INIT\ : std_logic_vector(7 downto 0) := {{o|vhdlinit}};
{%     else %}
	constant \{{o.cname|upper}}__LENGTH\ : natural := {{o.size * 8}};
	constant \{{o.cname|upper}}__INIT\ : std_logic_vector(\{{o.cname|upper}}__LENGTH\ - 1 downto 0) := {{o|vhdlinit}};
{%     endif %}
	subtype \{{o.cname}}__type\ is {{o|vhdltype}};
{%     if o.axi != None %}
	constant \{{o.cname|upper}}__ADDR\ : natural := 16#{{'%x'|format(o.axi)}}#;
{%     endif %}
	constant \{{o.cname|upper}}__KEY\ : std_logic_vector(KEY_LENGTH - 1 downto 0) := {{o|vhdlkey(store=store, littleEndian=store.littleEndian)}};

{%   endif %}
{% endfor %}
end {{store.name}}_pkg;

