{#
vim:filetype=cpp
-#}

#include "{{store.name}}.h"

#include <cstring>

namespace stored {

{% if store.buffer.init|len > 0 %}
static unsigned char const {{store.name}}Data_bufferinit[{{store.buffer.init|len}}] = {
{{store.buffer.init|carray}}
};
{% endif %}

{{store.name}}Data::{{store.name}}Data()
    : buffer()
{
{% if store.buffer.init|len > 0 %}
    memcpy(buffer, {{store.name}}Data_bufferinit, sizeof({{store.name}}Data_bufferinit));
{% endif %}
}

static uint8_t const directory_full_[{{store.directory.longdata|len}}] = {
{{store.directory.longdata|carray}}
};

static uint8_t const directory_[{{store.directory.data|len}}] = {
{{store.directory.data|carray}}
};

uint8_t const* {{store.name}}Data::directory() {
    return Config::FullNames ? directory_full_ : directory_;
}

} // namespace

