{#
# vim:filetype=cmake
#
# libstored, distributed debuggable data stores.
# Copyright (C) 2020-2023  Jochem Rutgers
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
-#}

cmake_minimum_required(VERSION 3.5)
include(FindPackageHandleStandardArgs)

set(PYTHON_EXECUTABLE "{{python_executable|escapebs}}")
{%- for k, v in defines.items() %}
set({{k}} "{{v|escapestr}}")
{%- endfor %}

file(TO_CMAKE_PATH "{{libstored_dir|escapebs}}" LIBSTORED_SOURCE_DIR)

if(EXISTS ${LIBSTORED_SOURCE_DIR}/cmake/libstored.cmake)
	message(STATUS "Using libstored from ${LIBSTORED_SOURCE_DIR}")
	include(${LIBSTORED_SOURCE_DIR}/cmake/libstored.cmake REQUIRED)
	find_package_handle_standard_args(
		Libstored
		REQUIRED_VARS LIBSTORED_SOURCE_DIR
		VERSION_VAR LIBSTORED_VERSION_BASE
	)
endif()
